.~lock.people_gscholar.xls#
__pycache__/
config/config.ini
input/.~lock.people_gscholar.xls#
output/.~lock.publications.xlsx#
input/people_gscholar.xls
output/publications.xlsx
output/UC Davis Bicycle Research.xlsx
